TZ=UTC
API_GATEWAY_PORT=4002
AUTH_SERVICE_PORT=4003
TRAINING_SERVICE_PORT=4004
GOAL_SERVICE_PORT=4005
NODE_ENV=production
AUTH_SECRET_KEY=change-me
ACCESS_TOKEN_TIME=30m
SESSION_REFRESH_TIME=86400000

RMQ_USER=rmq_user
RMQ_PASSWORD=rmq_password
RMQ_PORT=5672
RMQ_HOST=localhost
RMQ_MANAGER_PORT=15672

DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=big_d_tracker
DB_USERNAME=tracker_user
DB_PASSWORD=change-me
GOAL_TRACKER_DB_PASSWORD=change-me

DATABASE_URL="postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}"

VITE_CLIENT_PORT=3033
VITE_API_BASE_URL=/api

ARCHITECTURE_VISUALIZE_CONTAINER_NAME=big-d-structurizr-lite
ARCHITECTURE_VISUALIZE_PORT=8080
