node_modules
/coverage
dist
.DS_Store
.idea
.next

npm-debug.log*

*.tsbuildinfo

.env
.env.*
.env*
!.env.example
apps/.env
apps/.env.*
apps/.env*

.vscode

scripts/temp
scripts/archive.tar.gz
*storybook.log
apps/*storybook.log
./turbo
.turbo
