TZ=UTC
API_PORT=4002
NODE_ENV=development
APP_ENV=local
APP_VERSION=local
PUBLIC_SECRET_KEY=change-me
ORIGIN=http://localhost:3033
LOG_PRETTY=1

RMQ_USER=rmq_user
RMQ_PASSWORD=rmq_password
RMQ_PORT=5672
RMQ_HOST=localhost
RMQ_MANAGER_PORT=15672

SWAGGER_USER=swagger_user
SWAGGER_PASSWORD=change-me
